.header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: relative;
  align-items: center;
  background: var(--whitish);
  padding: 0.5rem;
}

.header-title {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--darkish);
  cursor: pointer;
}

.header-logo {
  width: 40px;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.darkish {
  color: var(--darkish);
}

.grayish {
  color: var(--grayish);
}
