.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-detail {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 80%;
}

.profile-detail-avatar {
  width: 250px;
  margin: 0 1rem;
}

.profile-detail-personalInfo {
  width: 500px;
}

.profile-detail-personalInfo td {
  vertical-align: baseline;
}

.profile-detail-personalInfo tbody > tr > :nth-child(1) {
  font-weight: bold;
  color: var(--darkish);
}

.profile-detail-personalInfo tbody > tr > :nth-child(2) {
  font-weight: bold;
  color: var(--grayish);
}

.profile-detail-personalInfo .wide {
  width: 150px;
}
